<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Über uns</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Die BixBand wurde 2016 von Christian Höhle (Modern Soul Band, Stern Meißen) unter dem Dach der Schostakowitsch-Musikschule Berlin-Lichtenberg mit ehemaligen Mitgliedern der „KLEENEN BigBand“ und der „Blechlawine“ gegründet. Seit 2020 ist Philip Sindy neuer Leader der BixBand.
        </p>
        <p>
          Der musikalische Schwerpunkt der Band liegt ein Stück weit entfernt vom gängigen Bigband-Repertoire: Funk, Soul aber auch mal Rock mit kraftvollen Bläser-Sets plus Jazz-Gesang bilden die musikalische Basis der Bigband. So verwundert es nicht, dass tanzendes Publikum zu den Auftritten der Band gehört.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
