<!-- About Section -->
<section id="acts" class="alternate-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>nächste Auftritte</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-offset-1">
        <h3>Jazzschmiede</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur debitis dolorem eius esse iste itaque iure </p>
        <p>Zeit: 20. April, 20 Uhr</p>
        <p>Ort: <a href="https://www.google.com/maps/place/Kulturhaus+Karlshorst/@52.4820449,13.5228476,17z/data=!3m2!4b1!5s0x47a848d76ca32be7:0xd90a8016c42ae764!4m5!3m4!1s0x47a848d76b596331:0x40e4e9983ca33c6e!8m2!3d52.4820417!4d13.5250363" target="_blank">Kulturhaus Karlshorst</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: right">
        <a href="#">> Vergangene Auftritte</a>
      </div>
    </div>
  </div>
</section>
